:root {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #122026;
  background-color: #f1f5f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
